body {
  background-color: aquamarine;
}

h1{
  color: blue;

}
 
h3{
  color:rgb(17, 80, 125);
}

img{
  border: 0ch;
  border-radius:10ex;
  border-color: cornflowerblue;
}

.color{
  color: SlateBlue;
}

.tipo2{
color:rgb(123, 135, 36)
}

.tipo3{
  color: #ff6347;
}

.tipo4{
 color: rgba(158, 31, 9, 0.5)
}